#modal-product.modal
  .modal__inner
    .modal__cont.modal__cont--large
      .modal__title Клубника
        a(href="").modal__close
          i.icon-close
      .product-m
        .col.product-m__cont
          ul.product-m-slider
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
          .product-m-info
            .product-m-info__cont
              .product-m-info__cont-text
                p Спелая и ароматная ягода с Кубани доставляется автотранспортом с рефрежиратором. Клубнику выращивают с помощью биоудобрений, без химии. Её сладкий летний вкус оценит вся семья.
              .product-m-info__cont-info
                h3.product-m-info__cont-from
                  span От
                  | Кубанского хозяйства
                a(href="").product-m-info__cont-link Подробнее о ферме
            .product-m-info__inner
              .product-m-info__price
                .product-m-info__price-label Цена
                .product-m-info__price-old 180
                  span  ₽
                .product-m-info__price-num.product-m-info__price-num--green 180
                  span  ₽
                .product-m-info__price-size за 300 г.
              .product-m-info__controll
                .product-m-info__controll-num
                  .product-m-info__controll-label Количество
                  .spinner
                    a(href="").spinner__btn.spinner__btn--down -
                    .spinner__num 1
                    a(href="").spinner__btn.spinner__btn--up +
                .product-m-info__controll-btn-w
                  .product-m-info__controll-label Добавить
                  a(href="").btn-r.btn-r--green.product-m-info__controll-btn В корзину
                    i.icon-basket
          .product-m__more
            h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
            .product-m__more-list
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-2.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Кефир «Ключевское»
                      .popular-slider__price 150 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-3.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                      .popular-slider__price 180 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-4.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__drop
                      a(href="").popular-slider__title Сметана «Ключевское»
                      .popular-slider__price 70 ₽
                        span 1 шт.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
        .product-m__aside
          .product-m__table-cont
            table.product-m__table
              tr
                td Цена
                td Товар весовой, конечная стоимость будет рассчитана в соответствии с его весом.
              tr
                td Масса
                td 0,2 кг. (190-210 г.).
              tr
                td Важно
                td Ягода не обработана химическими средствами, поэтому требователена к хранению. Пожалуйста, соблюдайте сроки годности и условия хранения. Рекомендуется использовать озонаторы для продуктов питания
              tr
                td Вкусовые особенности
                td Сочная, с небольшой кислинкой.
              tr
                td Качество
                td 1-го сорта, плоды с дефектом не более 10% по Международным нормам.
              tr
                td Сорт
                td Клери
              tr
                td Пищевая ценность
                td Белки - 1,4 г., жиры - 1 г., углеводы - 8 г.; на 100 г.
              tr
                td Энергетическая ценность
                td 43,98 кКал. / 184 кДж.
              tr
                td Срок годности
                td 3 суток.
              tr
                td Условия хранения
                td При температуре от +2 до +6 °С.
              tr
                td Место происхождения
                td Краснодарский край, станица Северская.
          .product-m__certificate
            a(href="img/pic-29.jpg" data-rel="lightcase").product-m__certificate-img-w
              img(src="img/pic-29.jpg" alt="").product-m__certificate-img
            .product-m__certificate-title Сертификат качества 2020 года
            .product-m__certificate-text Заключение краснодарского фермерского сообщества.
        .product-m__more.product-m__more--mob
          h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
          .product-m__more-list
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-2.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Кефир «Ключевское»
                  .popular-slider__price 150 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-3.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                  .popular-slider__price 180 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
#modal-product2.modal
  .modal__inner
    .modal__cont.modal__cont--large
      .modal__title Клубника
        a(href="").modal__close
          i.icon-close
      .product-m
        .col.product-m__cont
          ul.product-m-slider
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
          .product-m-info
            .product-m-info__cont
              .product-m-info__cont-text
                p Спелая и ароматная ягода с Кубани доставляется автотранспортом с рефрежиратором. Клубнику выращивают с помощью биоудобрений, без химии. Её сладкий летний вкус оценит вся семья.
              .product-m-info__cont-info
                h3.product-m-info__cont-from
                  span От
                  | Кубанского хозяйства
                ul.product-m-info__pic
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-30.jpg" alt="").product-m-info__pic-img
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-31.jpg" alt="").product-m-info__pic-img
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-32.jpg" alt="").product-m-info__pic-img
                a(href="").product-m-info__cont-link Подробнее о ферме
            .product-m-info__inner
              .product-m-info__price
                .product-m-info__price-label Цена
                .product-m-info__price-num 180
                  span  ₽
                .product-m-info__price-size за 300 г.
              .product-m-info__controll
                .product-m-info__controll-num
                  .product-m-info__controll-label Количество
                  .spinner
                    a(href="").spinner__btn.spinner__btn--down -
                    .spinner__num 1
                    a(href="").spinner__btn.spinner__btn--up +
                .product-m-info__controll-btn-w
                  .product-m-info__controll-label Добавить
                  a(href="").btn-r.btn-r--green.product-m-info__controll-btn В корзину
                    i.icon-basket
          .product-m__more
            h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
            .product-m__more-list
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-2.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Кефир «Ключевское»
                      .popular-slider__price 150 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-3.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                      .popular-slider__price 180 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-4.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__drop
                      a(href="").popular-slider__title Сметана «Ключевское»
                      .popular-slider__price 70 ₽
                        span 1 шт.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
        .product-m__aside
          .product-m__table-cont
            table.product-m__table
              tr
                td Цена
                td Товар весовой, конечная стоимость будет рассчитана в соответствии с его весом.
              tr
                td Масса
                td 0,2 кг. (190-210 г.).
              tr
                td Важно
                td Ягода не обработана химическими средствами, поэтому требователена к хранению. Пожалуйста, соблюдайте сроки годности и условия хранения. Рекомендуется использовать озонаторы для продуктов питания
              tr
                td Вкусовые особенности
                td Сочная, с небольшой кислинкой.
              tr
                td Качество
                td 1-го сорта, плоды с дефектом не более 10% по Международным нормам.
              tr
                td Сорт
                td Клери
              tr
                td Пищевая ценность
                td Белки - 1,4 г., жиры - 1 г., углеводы - 8 г.; на 100 г.
              tr
                td Энергетическая ценность
                td 43,98 кКал. / 184 кДж.
              tr
                td Срок годности
                td 3 суток.
              tr
                td Условия хранения
                td При температуре от +2 до +6 °С.
              tr
                td Место происхождения
                td Краснодарский край, станица Северская.
          .product-m__certificate
            a(href="img/pic-29.jpg" data-rel="lightcase").product-m__certificate-img-w
              img(src="img/pic-29.jpg" alt="").product-m__certificate-img
            .product-m__certificate-title Сертификат качества 2020 года
            .product-m__certificate-text Заключение краснодарского фермерского сообщества.
        .product-m__more.product-m__more--mob
          h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
          .product-m__more-list
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-2.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Кефир «Ключевское»
                  .popular-slider__price 150 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-3.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                  .popular-slider__price 180 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
#modal-product3.modal
  .modal__inner
    .modal__cont.modal__cont--large
      .modal__title Клубника
        a(href="").modal__close
          i.icon-close
      .product-m
        .col.product-m__cont
          ul.product-m-slider
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
            li.product-m-slider__item
              a(href="img/pic-28.jpg" data-rel="lightcase").product-m-slider__inner
                .product-m-slider__img(style="background-image: url('img/pic-28.jpg');")
          .product-m-info
            .product-m-info__cont
              .product-m-info__cont-text
                p Спелая и ароматная ягода с Кубани доставляется автотранспортом с рефрежиратором. Клубнику выращивают с помощью биоудобрений, без химии. Её сладкий летний вкус оценит вся семья.
              .product-m-info__cont-info
                h3.product-m-info__cont-from
                  span От
                  | Кубанского хозяйства
                ul.product-m-info__pic
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-30.jpg" alt="").product-m-info__pic-img
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-31.jpg" alt="").product-m-info__pic-img
                  li.product-m-info__pic-item
                    a(href="").product-m-info__pic-link
                      img(src="img/pic-32.jpg" alt="").product-m-info__pic-img
                a(href="").product-m-info__cont-link Подробнее о ферме
            .product-m-info__inner
              .product-m-info__price
                .product-m-info__price-label Цена
                .product-m-info__price-num 180
                  span  ₽
                .product-m-info__price-size за 300 г.
              .product-m-info__controll
                .product-m-info__controll-num
                  .product-m-info__controll-label Количество
                  .spinner
                    a(href="").spinner__btn.spinner__btn--down -
                    .spinner__num 1
                    a(href="").spinner__btn.spinner__btn--up +
                .product-m-info__controll-btn-w
                  .product-m-info__controll-label Добавить
                  a(href="").btn-r.btn-r--green.product-m-info__controll-btn В корзину
                    i.icon-basket
          .product-m__more
            h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
            .product-m__more-list
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-2.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Кефир «Ключевское»
                      .popular-slider__price 150 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-3.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__drop
                      a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                      .popular-slider__price 180 ₽
                        span 300 г.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
              .popular-slider__item
                .popular-slider__inner
                  a(href="").popular-slider__img-w
                    img(src="img/pic-4.png" alt="").popular-slider__img
                  .popular-slider__cont
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__drop
                      a(href="").popular-slider__title Сметана «Ключевское»
                      .popular-slider__price 70 ₽
                        span 1 шт.
                      .popular-slider__text
                        p Натуральное питьевое молоко от производителя фермерского
                      a(href="").popular-slider__btn В корзину
                        i.icon-basket.popular-slider__btn-icon
                      a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                        i.icon-key.popular-slider__btn-icon
        .product-m__aside
          .product-m__table-cont
            table.product-m__table
              tr
                td Цена
                td Товар весовой, конечная стоимость будет рассчитана в соответствии с его весом.
              tr
                td Масса
                td 0,2 кг. (190-210 г.).
              tr
                td Важно
                td Ягода не обработана химическими средствами, поэтому требователена к хранению. Пожалуйста, соблюдайте сроки годности и условия хранения. Рекомендуется использовать озонаторы для продуктов питания
              tr
                td Вкусовые особенности
                td Сочная, с небольшой кислинкой.
              tr
                td Качество
                td 1-го сорта, плоды с дефектом не более 10% по Международным нормам.
              tr
                td Сорт
                td Клери
              tr
                td Пищевая ценность
                td Белки - 1,4 г., жиры - 1 г., углеводы - 8 г.; на 100 г.
              tr
                td Энергетическая ценность
                td 43,98 кКал. / 184 кДж.
              tr
                td Срок годности
                td 3 суток.
              tr
                td Условия хранения
                td При температуре от +2 до +6 °С.
              tr
                td Место происхождения
                td Краснодарский край, станица Северская.
            .product-m__t-info
              p Стоимость курочки зависит от ее веса. Обычно наши куры варьируются в весе от 1 до 1,7 кг. Финальная цена может колебаться от 312 до 531 рублей.
              a(href="") Об оплате весового товара
          .product-m__certificate
            a(href="img/pic-29.jpg" data-rel="lightcase").product-m__certificate-img-w
              img(src="img/pic-29.jpg" alt="").product-m__certificate-img
            .product-m__certificate-title Сертификат качества 2020 года
            .product-m__certificate-text Заключение краснодарского фермерского сообщества.
        .product-m__more.product-m__more--mob
          h3.product-m__more-title сМОТРИТЕ ТАКЖЕ
          .product-m__more-list
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-2.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Кефир «Ключевское»
                  .popular-slider__price 150 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Кефир «Ключевское»
                    .popular-slider__price 150 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-3.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                  .popular-slider__price 180 ₽
                    span 300 г.
                  .popular-slider__drop
                    a(href="").popular-slider__title Молоко 2,5% «Ключевское»
                    .popular-slider__price 180 ₽
                      span 300 г.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
            .popular-slider__item
              .popular-slider__inner
                a(href="").popular-slider__img-w
                  img(src="img/pic-4.png" alt="").popular-slider__img
                .popular-slider__cont
                  a(href="").popular-slider__title Сметана «Ключевское»
                  .popular-slider__price 70 ₽
                    span 1 шт.
                  .popular-slider__drop
                    a(href="").popular-slider__title Сметана «Ключевское»
                    .popular-slider__price 70 ₽
                      span 1 шт.
                    .popular-slider__text
                      p Натуральное питьевое молоко от производителя фермерского
                    a(href="").popular-slider__btn В корзину
                      i.icon-basket.popular-slider__btn-icon
                    a(href="").popular-slider__btn.popular-slider__btn--product О товаре
                      i.icon-key.popular-slider__btn-icon
#basket-modal.modal
  .modal__inner
    .modal__cont.modal__cont--basket
      .modal__title-c МОЯ КОРЗИНА
      a(href="").modal__close.modal__close--sm
        i.icon-close
      .basket-table
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Хлеб
              p.basket-table__size 300 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 200
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Курица
              p.basket-table__size 1000 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 1 300
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Хлеб
              p.basket-table__size 300 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 200
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Курица
              p.basket-table__size 1000 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 1 300
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Хлеб
              p.basket-table__size 300 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 200
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Курица
              p.basket-table__size 1000 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 1 300
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Хлеб
              p.basket-table__size 300 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 200
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Курица
              p.basket-table__size 1000 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 1 300
              span.rub  ₽
        .basket-table__tr.basket-table__tr--total
          .col-auto
            h3.basket-table__total-name Сумма
          .col-auto.ml-auto
            p.basket-table__total-price 1 500
              span.rub  ₽
      .basket-btn-g
        .basket-btn-g__item
          a(href="").basket-btn-g__btn.basket-btn-g__btn--continue ПРОДОЛЖИТЬ покупки
        .basket-btn-g__item
          a(href="#ordering").basket-btn-g__btn.basket-btn-g__btn--submit.modal-btn оформить заказ
#basket-modal-min.modal
  .modal__inner
    .modal__cont.modal__cont--basket
      .modal__title-c МОЯ КОРЗИНА
      a(href="").modal__close.modal__close--sm
        i.icon-close
      .basket-table
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Хлеб
              p.basket-table__size 300 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 200
              span.rub  ₽
        .basket-table__tr
          .basket-table__item
            .basket-table__remove-w
              a(href="").basket-table__remove
                i.icon-close
            .basket-table__img-w
              img(src="img/pic-33.jpg" alt="").basket-table__img
            .col.basket-table__cont
              h3.basket-table__name Курица
              p.basket-table__size 1000 г.
          .basket-table__item.basket-table__item--price
            .basket-table__inenr
              .basket-table__label Количество
              .spinner
                a(href="").spinner__btn.spinner__btn--down -
                .spinner__num 1
                a(href="").spinner__btn.spinner__btn--up +
            .basket-table__price 1 300
              span.rub  ₽
        .basket-table__tr.basket-table__tr--total
          .col-auto
            h3.basket-table__total-name Сумма
          .col-auto.ml-auto
            p.basket-table__total-price 1 500
              span.rub  ₽
      .basket-btn-g
        .basket-btn-g__item
          a(href="").basket-btn-g__btn.basket-btn-g__btn--continue ПРОДОЛЖИТЬ покупки
        .basket-btn-g__item
          .basket-btn-g__btn.basket-btn-g__btn--min-sum
            div минимальная
              span сумма 1 500 ₽
#ordering.modal
  .modal__inner
    .modal__cont.modal__cont--ordering
      a(href="#basket-modal").modal__close.modal__close--sm.modal-btn
        i.icon-close
      form.ordering
        .modal__title-c оформление заказа
        p.ordering__info-text Контактные данные
        .ordering__form
          .ordering__form-item
            .form-row
              label.form-row__label Имя
              input(type="text" value="Петя").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label Фамилия
              input(type="text" value="Петров").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label E-mail
              input(type="email" value="mail@gmail.com").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label Город
              select.select-styler
                option Гарячий Ключ
                option Краснодар
          .ordering__form-item.ordering__form-item--full
            .form-row
              label.form-row__label Улица, Дом, Квартира
              input(type="text" value="Крым наш").form-row__input
        .payment-method
          p.ordering__info-text Способ оплаты
          .payment-method__list
            .payment-method__list-item
              label.payment-method__list-inner
                input(type="radio" name="payment-method").payment-method__list-input
                .payment-method__list-circle
                .payment-method__list-name Наличными
            .payment-method__list-item
              label.payment-method__list-inner
                input(type="radio" name="payment-method" checked).payment-method__list-input
                .payment-method__list-circle
                .payment-method__list-name Онлайн
                .payment-method__list-hint Бесконтактная доставка
                  span ?
        .delivery
          p.ordering__info-text Доставка
          .delivery__list
            label.delivery__list-item
              input(type="radio" name="delivery" checked).delivery__list-input
              .delivery__list-inner
                .delivery__list-name 3 Июня
                .delivery__list-day Среда
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 4 Июня
                .delivery__list-day Четверг
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 5 Июня
                .delivery__list-day Пятница
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 6 Июня
                .delivery__list-day Суббота
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 7 Июня
                .delivery__list-day Воскресенье
          .delivery__total
            .delivery__total-item
              p.delivery__total-label Стоимость продуктов
              .delivery__total-price 1 500
                span.rub  ₽
            .delivery__total-item
              p.delivery__total-label Доставка
                .delivery__total-price 200
                  span.rub  ₽
        .ordering__total Всего 1 700
          span.rub  ₽
        a(href="").ordering__submit оплатить заказ
        .text-center
          a(href="#promo-cod").ordering__link-promo-code.modal-btn У вас есть промокод
#ordering-address-done.modal
  .modal__inner
    .modal__cont.modal__cont--ordering
      a(href="#basket-modal").modal__close.modal__close--sm.modal-btn
        i.icon-close
      form.ordering
        .modal__title-c оформление заказа
        p.ordering__info-text Контактные данные
        .ordering__form.ordering__form--address
          .ordering__form-item
            .form-row
              label.form-row__label Имя
              input(type="text" value="Петя").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label Фамилия
              input(type="text" value="Петров").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label E-mail
              input(type="email" value="mail@gmail.com").form-row__input
          .ordering__form-item
            .form-row
              label.form-row__label Адрес доставки
              .ordering__address
                a(href="").ordering__address-remove
                  i.icon-close
                a(href="#add-address").ordering__address-edit.modal-btn
                  i.icon-pen
                .ordering__address-item
                  span.ordering__address-label Город
                  span.ordering__address-name Краснодар
                .ordering__address-item
                  span.ordering__address-label Улица
                  span.ordering__address-name Гагарина
                .ordering__address-item
                  span.ordering__address-label Дом
                  span.ordering__address-name 30
                .ordering__address-item
                  span.ordering__address-label Подъезд
                  span.ordering__address-name 1
                .ordering__address-item
                  span.ordering__address-label Этаж
                  span.ordering__address-name 6
                .ordering__address-item
                  span.ordering__address-label Квартира
                  span.ordering__address-name 21
        .payment-method
          p.ordering__info-text Способ оплаты
          .payment-method__list
            .payment-method__list-item
              label.payment-method__list-inner
                input(type="radio" name="payment-method").payment-method__list-input
                .payment-method__list-circle
                .payment-method__list-name Наличными
            .payment-method__list-item
              label.payment-method__list-inner
                input(type="radio" name="payment-method" checked).payment-method__list-input
                .payment-method__list-circle
                .payment-method__list-name Онлайн
                .payment-method__list-hint Бесконтактная доставка
                  span ?
        .delivery
          p.ordering__info-text Доставка
          .delivery__list
            label.delivery__list-item
              input(type="radio" name="delivery" checked).delivery__list-input
              .delivery__list-inner
                .delivery__list-name 3 Июня
                .delivery__list-day Среда
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 4 Июня
                .delivery__list-day Четверг
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 5 Июня
                .delivery__list-day Пятница
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 6 Июня
                .delivery__list-day Суббота
            label.delivery__list-item
              input(type="radio" name="delivery").delivery__list-input
              .delivery__list-inner
                .delivery__list-name 7 Июня
                .delivery__list-day Воскресенье
          .delivery__total
            .delivery__total-item
              p.delivery__total-label Стоимость продуктов
              .delivery__total-price 1 500
                span.rub  ₽
            .delivery__total-item
              p.delivery__total-label Доставка
                .delivery__total-price 200
                  span.rub  ₽
        .ordering__total Всего 1 700
          span.rub  ₽
        a(href="").ordering__submit оплатить заказ
        .text-center
          a(href="#promo-cod").ordering__link-promo-code.modal-btn У вас есть промокод
#add-address.modal
  .modal__inner
    .modal__cont.modal__cont--add-address
      a(href="#ordering").modal__close.modal__close--sm.modal-btn
        i.icon-close
      form.add-address
        .modal__title-c УКАЖИТЕ АДРЕС
        .add-address__row
          .add-address__item.add-address__item--large
            .form-row
              .form-row__label Город
              input(type="text" value="Краснодар" placeholder="Ваш город").form-row__input
          .add-address__item.add-address__item--large
            .form-row
              .form-row__label Улица
              input(type="text" value="Гагарина" placeholder="Ваша улица").form-row__input
          .add-address__item
            .form-row
              .form-row__label Дом
              input(type="text" value="30" placeholder="Ваш дом").form-row__input
          .add-address__item
            .form-row
              .form-row__label Подъезд
              input(type="text" value="1" placeholder="Ваш подъезд").form-row__input
          .add-address__item
            .form-row
              .form-row__label Этаж
              input(type="text" value="6" placeholder="Ваш этаж").form-row__input
          .add-address__item
            .form-row
              .form-row__label Квартира
              input(type="text" value="21" placeholder="Ваша квартира").form-row__input
          .add-address__item.add-address__item--intercom
            .form-row
              .form-row__label Домофон (если есть)
              input(type="text" value="*170#" placeholder="Ваш домофон").form-row__input
          .add-address__item.add-address__item--full
            .form-row
              .form-row__label Комментарий
              textarea.form-row__textarea(placeholder="Ваш комментарий")
          .add-address__item.add-address__item--full
            input(type="button" value="добавить адрес").btn-r.btn-r--green.btn-r--large-df.btn-r--full
#promo-cod.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c
        span.modal__title-c--stroke введите
        br
        |  промокод
      .vcode
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
      a(href="").btn-r.btn-r--green.btn-r--large-df активировать
#promo-cod-error.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c
        span.modal__title-c--stroke введите
        br
        |  промокод
      .vcode
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
      .vcode__error Код недействителен
      a(href="").btn-r.btn-r--green.btn-r--large-df активировать
#login.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c
        span.modal__title-c--stroke Вход или
        br
        |  регистрация
      p.modal__info-text.modal__info-text--welcome Введите номер телефона, чтобы войти, либо зарегистрироваться, если у вас нет аккаунта.
      .form-row
        input(type="tel" placeholder="Ваш телефон").form-row__input.phone-mask
      a(href="").btn-r.btn-r--green.btn-r--large-df ПРОДОЛЖИТЬ
      .text-center
        a(href="").modal__btn-link Войти по почте
        p.modal__info-text При входе или регистрации вы соглашаетесь с
          a(href="")  офертой
          |  и
          a(href="")  политикой конфиденциальности
#login-email.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c.modal__title-c--mb ВОЙТИ
        br
        span.modal__title-c--stroke  ПО ПОЧТЕ
      .form-row
        input(type="email" placeholder="Ваш еmail").form-row__input
      .form-row
        input(type="password" placeholder="Пароль").form-row__input
      a(href="").btn-r.btn-r--green.btn-r--large-df ПРОДОЛЖИТЬ
      .text-center
        a(href="").modal__btn-link.mb-5.mt-30 Восстановить пароль
        br
        a(href="").modal__btn-link.m-0 назад
#login-code.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c
        span.modal__title-c--stroke Вход или
        br
        |  регистрация
      p.modal__info-text.modal__info-text--welcome Мы отправили вам код подтвержедения на номер +7 000-00-00
      .vcode
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
      a(href="").btn-r.btn-r--green.btn-r--large-df ВОЙТИ
      .text-center
        p.modal__info-text.mt-30 Повторная отправка кода через
          b#countdowntimer 100
          |  секунд
        a(href="").modal__btn-link.mt-15.mb-0 вЕРНУТЬСЯ
#login-code-error.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c
        span.modal__title-c--stroke Вход или
        br
        |  регистрация
      p.modal__info-text.modal__info-text--welcome Мы отправили вам код подтвержедения на номер +7 000-00-00
      .vcode
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
        .vcode__item
          input.vcode-input(type='tel', maxlength='1', size='1', min='0', max='9')
      .vcode__error Код недействителен
      a(href="").btn-r.btn-r--green.btn-r--large-df ВОЙТИ
      .text-center
        a(href="").modal__btn-link.mb-5.mt-30 Отправить код повторно
        br
        a(href="").modal__btn-link.m-0 вЕРНУТЬСЯ
#login-finish.modal
  .modal__inner
    .modal__cont.modal__cont--small
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c.modal__title-c--mb
        span.modal__title-c--stroke  завершение
        br
        |  регистрации
      .form-row
        input(type="text" placeholder="Имя").form-row__input
      .form-row
        input(type="text" placeholder="Фамилия").form-row__input
      .form-row
        input(type="email" placeholder="Ваш Е-mail").form-row__input
      a(href="").btn-r.btn-r--green.btn-r--large-df ПРОДОЛЖИТЬ
#done.modal.modal--full
  .modal__inner
    .modal__cont.modal__cont--done
      .text-center
        .modal__title ЗАКАЗ ОФОРМлЕН
        p Перевожу на форму оплаты через 5 секунд
        i.icon-check
#remove.modal
  .modal__inner
    .modal__cont.modal__cont--md
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c Удалить адрес
      .modal__btn-agree
        .modal__btn-agree-item
          a(href="").btn-r.btn-r--green.btn-r--large-df.btn-r--full Да
        .modal__btn-agree-item
          a(href="").btn-r.btn-r--black.btn-r--large-df.btn-r--full нет
#order.modal
  .modal__inner
    .modal__cont.modal__cont--md
      a(href="").modal__close.modal__close--sm.modal-btn
        i.icon-close
      .modal__title-c заказ №3441
      .m-order
        table.m-order__table
          tr
            td
              a(href="") Курица 1кг.
            td 990 ₽
          tr
            td
              a(href="") Яйцо 12шт.
            td 1 000 ₽
          tr
            td
              a(href="") Яйцо 12шт.
            td 1 000 ₽
          tr
            td
              a(href="") Яйцо 12шт.
            td 1 000 ₽
          tr.m-order__table-total
            td Cумма
            td 3 990 ₽
        a(href="").btn-r.btn-r--green Повторить