.benefits {
  padding: 150px 0 0;
  overflow: hidden;
  width: 100%;

  &__welcome {
    position: relative;
    max-width: 1080px;

    &:before {
      position: absolute;
      top: -73px;
      right: -222px;
      display: block;
      content: '';
      background: url("#{$rootUrl}benefits-shield.png") no-repeat center top;
      background-size: cover;
      width: 529px;
      height: 646px;
    }

    &-text {
      margin: 33px 0 0;
      position: relative;
      z-index: 10;
      padding-left: 30px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.6;
      color: #2A2A2A;
      max-width: 825px;

      b {
        color: #1B355E;
      }

      .icon-quote {
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }

  .main-title {
    line-height: 0.95;
    position: relative;
    z-index: 10;
    margin: 0;
    
    &__stroke {
      display: block;
    }
  }

  &__list {
    margin-top: 126px;
    margin-left: 1px;
    position: relative;

    &:before {
      position: absolute;
      top: 442px;
      bottom: 130px;
      left: 0;
      right: 0;
      height: auto;
      display: block;
      content: '';
      background: url("#{$rootUrl}dot.png") repeat top left;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    margin-left: 0;
  }

  &__item {
    width: 520px;
    max-width: 33.3%;
    border: 1px solid #000000;
    margin: -1px 0 0 -1px;
    position: relative;
    z-index: 20;
    background: #fff;

    &--1 {

    }

    &--2 {
      margin-top: 148px;
    }

    &--3 {
      margin-top: 297px;
      margin-left: auto;
    }

    &--4 {
      margin-top: -299px;

      .benefits__cont {
        position: absolute;
        left: 100%;
        bottom: -1px;
        margin-left: 1px;
        width: calc(100% + 1px);
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background: #fff;
      }

      .benefits__text {
        min-height: 231px;
      }
    }
  }

  &__img-w {
    background: #fff;
    padding: 14px;

    &-inner {
      height: 490px;
      display: flex;
      flex-wrap: wrap;

      &--1 {
        background: linear-gradient(135deg, #00C882 0%, #1C355E 100%);
      }

      &--2 {
        background: #BEA05A;
      }

      &--3 {
        background: linear-gradient(180deg, #EDE7FF 0%, #0047FF 100%);
      }

      &--4 {
        background: linear-gradient(180deg, #FFCD6B 0%, #F68FFF 100%);
        height: 622px;
      }
    }
  }

  &__title {
    font-family: $fontTTInterfacesMono;
    padding: 19px 14px 12px;
    color: #2A2A2A;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    min-height: 150px;
    
    span {
      display: block;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color: #2A2A2A;
    padding: 15px;
    min-height: 260px;

    p {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 1550px) {
  .benefits {
    padding-top: 114px;

    &__welcome {
      max-width: 800px;

      &:before {
        width: 397px;
        height: 485px;
        top: -55px;
        right: -176px;
      }

      &-text {
        font-size: 13.5px;
        margin: 25px 0 0;
        padding-left: 22px;
        max-width: 650px;

        .icon-quote {
          top: 1px;
        }
      }
    }

    &__list {
      margin-top: 93px;
    }

    &__item {
      width: 390px;

      &--2 {
        margin-top: 111px;
      }

      &--3 {
        margin-top: 223px;
      }

      &--4 {
        margin-top: -225px;

        .benefits__text {
          min-height: 173px;
        }
      }
    }

    &__img-w {
      padding: 10px;

      &-inner {
        height: 368px;

        &--4 {
          height: 467px;
        }
      }
    }

    &__title {
      font-size: 27px;
      padding: 15px 11px 9px;
      min-height: 113px;
    }

    &__text {
      font-size: 13.5px;
      padding: 11px;
      min-height: 195px;
    }
  }
}

@media(max-width: 1280px) {
  .benefits {
    &__item {
      width: 365px;
    }

    &__title {
      font-size: 25px;
    }

    &__row {
      margin-left: 0;
    }
  }
}

@media(max-width: 992px) {
  .benefits {
    padding-top: 50px;
    order: 1;

    &__welcome {
      max-width: 600px;

      &:before {
        width: 317px;
        height: 387px;
        top: -23px;
        right: -231px;
      }

      &-text {
        margin: 19px 0 0;
        max-width: 570px;
      }
    }

    &__list {
      margin-top: 59px;
    }

    &__item {
      width: 50%;
      max-width: 100%;

      &--2 {
        margin-top: 104px;
      }

      &--3 {
        margin-left: -1px;
        margin-top: -114px;
      }

      &--4 {
        margin-left: auto;
        left: -2px;
        margin-top: -541px;

        .benefits__cont {
          position: static;
          left: auto;
          bottom: auto;
          width: 100%;
          border-bottom: 0;
        }
      }
    }

    &__img-w {
      &-inner {
        height: 344px;
      }
    }

    &__title {
      padding: 15px 11px 5px;
      min-height: 106px;
      overflow: hidden;
    }

    &__text {
      min-height: 182px;
      overflow: hidden;
    }

    &__row {
      margin-right: -2px;
    }
  }
}

@media(max-width: 568px) {
  .benefits {
    padding-top: 60px;

    &__welcome {
      &:before {
        display: none;
      }

      &-text {
        font-size: 12px;

        .icon-quote {
          top: 4px;
        }
      }
    }

    &__row {
      margin-left: -1px;
      margin-right: 0;
    }

    &__list {
      margin-top: 15px;

      &:before {
        display: none;
      }
    }

    &__item {
      width: 100%;
      margin: -1px 0 0;
      left: 0;

      &--4 .benefits__text {
        min-height: 0;
      }
    }

    &__img-w {
      padding: 6px;

      &-inner {
        height: 290px;
      }
    }

    &__title {
      min-height: 107px;
    }

    &__text {
      font-size: 13px;
      min-height: 0;
    }
  }
}