.welcome {
  &-slider {
    border: 1px solid #000000;
    border-top: 0;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
      outline: 0!important;
    }

    &__img-w {
      padding: 15px;
    }

    &__img {
      height: 518px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__info {
      border-top: 1px solid #000;
      display: flex;
      flex-wrap: wrap;
    }

    &__title-group {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
    }

    &__title {
      font-size: 72px;
      line-height: 1.05;
      font-weight: 900;
      font-family: $fontTTOctosquares;
      padding: 16px 15px;
      color: #2a2a2a;
      
      span {
        display: block;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #2a2a2a;
      }
    }

    &__info-text {
      width: 640px;
      border-left: 1px solid #000;
      padding: 22px 15px;

      p {
        font-size: 14px;
        line-height: 1.6;
        margin: 0 0 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__control {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #2A2A2A;
      border-top: 0;
      width: 100%;
    }

    &__btn-more {
      height: 60px;
      width: 300px;
      display: block;
      vertical-align: top;
      border: 1px solid #2A2A2A;
      line-height: 58px;
      margin: -1px 0 -1px -1px;
      padding: 0 20px;
      color: #2A2A2A;
      font-weight: bold;
      font-family: $fontTTInterfacesMono;
      font-size: 22px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s color ease, 0.3s background-color ease;
      position: relative;

      .icon-arrow-right-top-45 {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0,-50%);
      }
      
      &:hover {
        color: #fff;
        background: $colorGreen;
      }
    }

    &__progress {
      height: 58px;
      position: relative;
      z-index: 10;

      &-inner {
        top: 0;
        left: 0;
        height: 58px;
        background: $colorGreen;
        overflow: hidden;
        position: relative;
        z-index: 10;

        .welcome-slider__number {
          color: #fff;
          margin-left: 0;
        }
      }
    }

    &__number {
      position: absolute;
      top: 0;
      left: 50%;
      line-height: 58px;
      color: #2A2A2A;
      width: 60px;
      margin-left: -30px;
      font-family: $fontTTInterfacesMono;
      font-weight: 600;
      font-size: 22px;
    }

    &__arrows {
      display: flex;
      flex-wrap: wrap;

      &-item {
        height: 58px;
        width: 59px;
        line-height: 58px;
        text-align: center;
        border-left: 1px solid #2A2A2A;
        cursor: pointer;
        color: #2A2A2A;
        font-size: 24px;
        transition: 0.3s color ease, 0.3s background-color ease;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:hover {
          color: #fff;
          background: $colorGreen;
        }
      }
    }
  }
}

@media(max-width: 1550px) {
  .welcome-slider {
    &__img-w {
      padding: 10px;
    }

    &__img {
      height: 391px;
    }

    &__info-text {
      width: 479px;
      padding: 16px 12px;

      p {
        font-size: 12px;
      }
    }

    &__title-group {
      min-height: 135px;
    }

    &__title {
      font-size: 53px;
      padding: 11px 10px;
    }

    &__progress {
      height: 44px;
    }

    &__progress-inner {
      height: 44px;
    }

    &__btn-more {
      height: 46px;
      line-height: 46px;
      width: 225px;
      font-size: 16px;
      padding: 0 15px;

      .icon-arrow-right-top-45 {
        font-size: 14px;
        right: 14px;
      }
    }

    &__arrows {
      &-item {
        width: 44px;
        height: 44px;
        font-size: 18px;
      }
    }

    &__number {
      font-size: 18px;
      line-height: 44px;
    }
  }
}

@media(max-width: 1280px) {
  .welcome-slider {
    &__title {
      font-size: 36px;
    }

    &__info-text {
      width: 380px;
    }
  }
}

@media(max-width: 992px) {
  .welcome {
    position: relative;
  }

  .welcome-slider {
    &__img-w {
      padding: 11px;
    }

    &__img {
      height: 300px;
    }

    &__title-group {
      min-height: 102px;
      flex: 0 0 100%;
      border-bottom: 1px solid #000;
    }

    &__info-text {
      width: 100%;
      border: 0;
      padding: 8px 11px;
      min-height: 54px;
    }

    &__btn-more {
      width: 230px;
    }

    &__arrows-item {
      position: absolute;
      z-index: 100;
      top: 138px;
      background: #fff;
      border: 1px solid #000;
      width: 46px;
      height: 46px;

      &--prev {
        left: 15px;
      }

      &--next {
        right: 15px;
      }
    }
  }
}

@media(max-width: 568px) {
  .welcome-slider {
    &__img-w {
      padding: 6px;
    }

    &__img {
      height: 336px;
    }

    &__arrows-item {
      top: 151px;

      &--prev {
        left: 8px;
      }

      &--next {
        right: 8px;
      }
    }

    &__title {
      line-height: 1.05;
      font-size: 16px;
      padding: 8px 6px 4px;
    }

    &__title-group {
      min-height: 47px;
    }

    &__info-text {
      padding: 7px 5px;
      min-height: 60px;

      p {
        font-size: 10px;
      }
    }

    &__progress {
      display: none;
    }

    &__btn-more {
      width: 100%;
      margin-left: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}